<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails de l'Auteur</title>
</head>
<body>
    <h1>{{ author.username }}</h1>
    <img src="{{ asset(author.picture) }}" alt="{{ author.username }}" width="150">
    <p>Email : {{ author.email }}</p>
    <p>Nombre de livres : {{ author.nb_books }}</p>
    <a href="{{ path('list_authors') }}">Retour à la liste</a>
</body>
</html>
